# Demo 3 for Intro Python #

## Introducing:

* For Loops!
* Functions

In [ ]:
for number in [2, 3, 5]:
    print(number)

2
3
5

In [ ]:
for x in "Washington":
  print(x)

In [ ]:
store_shelf = ["apples", "bread", "cookies",
               "avocados", "eggs", "milk", "carrots"]

for item in store_shelf:
    print(item)

In [ ]:
# The loop variable can be anything

for kitten in [2, 3, 5]:
    print(kitten)

2
3
5

In [ ]:
# Loop with conditional

for kitten in [2, 3, 5]:
    if kitten < 4:
        print(kitten)

2
3

In [ ]:
# 'break' can be used to STOP the loop if the condition is met

for kitten in [2, 3, 5]:
    if kitten == 3:
        break
    print(kitten)

2

In [ ]:
# 'continue' can be use to SKIP an iteration of the loop if a condition is met

for kitten in [2, 3, 5]:
    if kitten == 3:
        continue
    print(kitten)

2
5

In [ ]:
# 'else' can be used to add an additional action at the end of a loop

for kitten in [2, 3, 5]:
   print(kitten)
else:
  print("All done!")

2
3
5
All done!

In [ ]:
# We can create local variables within the for loop

primes = [2, 3, 5]

for p in primes:
    squared = p ** 2
    cubed = p ** 3
    x = [p, squared, cubed]
    print(x[-1])

8
27
125

In [ ]:
# Variable created in the loop is available outside the loop (Unless you are using a function!!)

print(x)

[5, 25, 125]

In [ ]:
# The range() function can be used to run a loop with a set number of iterations

for number in range(0, 3):
    print(number)

0
1
2

In [ ]:
# We can update a global variable using a for loop

length = 0

names = ['Curie', 'Darwin', 'Turing']

for value in names:
    length = length + 1

print('There are', length, 'names in the list.')

There are 3 names in the list.

In [ ]:
# Accumulating data across loops

total = 0
for char in "tin":
    total = total + 1

    print(total)

1
2
3

In [ ]:
#Indentation matters!

total = 0

for char in "tin":
  total = total + 1

print(total)

3

## For Loop Exercise 1

Using your store_shelf list:

1. Write a for loop to print all the items in the list starting with the letter “a”

2. Write a for loop to print all the items in your list that are longer than 5 letters

In [ ]:
store_shelf = ["apples", "bread", "cookies", "avocados", "eggs", "milk", "carrots"]

for x in store_shelf:
  if x[0] == "a":
      print(x)

apples
avocados

In [ ]:
for x in store_shelf:
  if len(x) > 5:
    print(x)

apples
cookies
avocados
carrots

## For Loop Exercise 2

Using your department lists from earlier in the lesson:

humanities = ["English", "History", "French", "Art History", "Philosophy"]

sciences = ["Biology", "Chemistry", "Neuroscience", "Physics", "Ecology"]

1. Write a for loop that finds the words in the humanities list that have the same number of letters as a word in the science list, printing the two words and the statement “These words have the same number of letters!” when there is a match for the number of letters.

In [ ]:
humanities = ["English", "History", "French", "Art History", "Philosophy"]

sciences = ["Biology", "Chemistry", "Neuroscience", "Physics", "Ecology"]

for x in humanities:
  for y in sciences:
    if len(x) == len(y):
      print(x, y, ": These words have the same number of letters!")

English Biology : These words have the same number of letters!
English Physics : These words have the same number of letters!
English Ecology : These words have the same number of letters!
History Biology : These words have the same number of letters!
History Physics : These words have the same number of letters!
History Ecology : These words have the same number of letters!

## Part 2: Functions

Functions are use to SAVE a block of code for future use.

In [ ]:
print("Hello")

Hello

In [ ]:
# creating a function

def disciplines():
    print("English")
    print("History")
    print("Business")
    print("Biology")

In [ ]:
# Running the function

disciplines()

English
History
Business
Biology

In [ ]:
#Parameters and arguments
#Print (print output) vs. return (SAVE output and end function)

food = ["bread", "milk", "eggs"]

def groceries(x):
    return(x)

In [ ]:
groceries(food)

['bread', 'milk', 'eggs']

In [ ]:
#Function with numbers

def squares(x):
    return(x*x)

In [ ]:
squares(3)

9

In [ ]:
# Using a function inside a loop

numbers = [15, 17, 19, 20]

for num in numbers:
    x = squares(num)
    print(x)

225
289
361
400

In [ ]:
# Using a loop inside a function

numbers = [15, 17, 19, 20]

def square_list(y):
    for x in y:
      print(x*x)
    return

In [ ]:
square_list(numbers)

225
289
361
400

In [ ]:
#using multiple parameters

def introduction(name, department):
    return("My name is " + name + " and I work in the " + department + " department")

In [ ]:
introduction(name="Claudia", department="English")

'My name is Claudia and I work in the English department'

## Functions Exercise

Given a list foods = [“eggs”, “bread”, “milk”, “cookies”]

Create a function to return all words in the list that are longer than 5 letters.

In [ ]:
foods = ["eggs", "bread", "milk", "cookies"]

def long_strings(x):
    for food in x:
        if len(food) > 4:
            print(food)
    return

long_strings(foods)